<!DOCTYPE html>
<html lang="sp">
    <head>
        <meta charset="UTF-8">
        <meta name="MailLayout" content=width="device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Layout main for email</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>